*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/ITM\ banner\ picture.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

nav img{
    width: 150px;
}

.nav-link{
   flex: 1;
   text-align: right;
}

.nav-link ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: brown;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link ul li:hover::after{
    width: 100%;
}

.f-text{
width: 90%;
position: absolute;
color: white;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}

.f-text h1{
    font-size: 60px;
    text-transform: uppercase;
}

.f-text p{
    margin: 10px 0 60px 0 ;
    font-size: 20px;
    color: white;
}

.h-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #ff4da6;
    box-shadow: 0 0 8px #ff4da6;  
    padding: 10px 40px;
    font-size: 20px;
    background: transparent;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
}

.h-btn:hover{
    border: 1px solid  #ff4da6;
    background-color: #ff4da6;
    border-radius: 0;
    transition: 1.5s;
}

nav .icon{
    display: none;
}

@media(max-width:700px){
.f-text h1{
    font-size: 20px;
}

.f-text p{
    margin: 10px 0 60px 0 ;
    font-size: 13px;
}

.h-btn{
    padding: 5px 20px;
    font-size: 10px;
}

.f-text{
    width: 90%;
    color: white;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.nav-link ul li{
    display: block;
}

.nav-link{
    position: absolute;
    height: 100vh;
    width: 200px;
    background-color:#f44336;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}

nav .icon{
    display: block;
    color: white;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.nav-link ul{
    padding: 35px;
}
}

.Course{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 100px 0 0 0;
}

.Course h1{
    font-size: 50px;
    font-weight: 700;
    padding: 0 0 30px 0;
    text-transform: uppercase;
}

.Course p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(84, 84, 84);
}
.course-col{
    display: flex;
    justify-content: space-between;
    margin: 7% 0 0 0;
}
.col-info{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: 0.5s;
}

.col-info h3{
    padding: 5px 0 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.col-info:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
}

@media(max-width:700px){
    .Course h1{
    font-size: 40px;
    font-weight: 700;
    padding: 0 0 25px 0;
    text-transform: uppercase;
}
.Course p{
    font-size: 13px;
    font-weight: 400;
    color: rgb(84, 84, 84);
}
.course-col{
    display: inline-block;
    margin: 50px 0 20px 0 ;
}
}



.campus{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 50px ;
}
.campus h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}
.campus p{
    font-size: 18px;
    font-weight: 400;
}

.row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 20px;
    margin: 50px 0 30px 0 ;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
}

.layer{
    background-color:transparent;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background-color: #36eef473;
}
.layer h3{
    width: 100%;
    font-size: 26px;
    color: #fff;
    font-weight: 500;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom:49%;
    opacity: 1;
}

@media(max-width:700px){
    .row{
        display: block;
    }
}

.facilities{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

.facilities h1{
    font-size: 50px;
    font-weight: 700;
    padding: 0 0 0.9% 0;
    text-transform: uppercase;
}

.facilities-col{
    width: 100%;
    margin: 7% 0 7% 0;
    flex-basis: 31%;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
    margin: 3% 0 3% 0;
}
.facilities-col h3{
    font-size: 20px;
    font-weight: 600;
    margin: 1% 0 1% 0;
}
.facilities-col p{
    text-align: left;
}
@media (max-width:700px) {
    .facilities{
        margin: auto;
        margin-top:100px;
    }
    .row{
        margin-top: 100px;
    }
    .facilities-col{
        margin-top: 70px;
    }
}

.testimonial{
    width: 80%;
    text-align: center;
    margin: auto;
}
.testimonial h1{
    font-size: 50px;
    font-weight: 700;
    margin-top: 3%;
}
.testimonial-col{
    width: 100%;
    flex-basis: 30%;
    text-align: left;
    margin: 7% 0 0 0;
    background-color:#dfa7a3;
    border-radius: 10px;
    padding: 3% ;
}
.testimonial-col img{
    margin-top: 0 ;
    width: 100px ;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.detail {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5%;
}
.testimonial-col h3{
    margin: 5% ;
    padding: 5%;
    font-size: 25px;
    font-weight: 600;
}
@media(max-width:700px){
    .testimonial{
        margin-top: 100px;
    }
}

.cont{
    width: 80%;
    text-align: center;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cont h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width:700px){
    .cont h1{
        font-size: 25px;
    }
}

.footer{
    width: 80%;
    margin:100px auto;
    text-align: center;
    padding: 20px ;
}
.footer h4{
    font-size: 20px;
    margin:20px ;
    font-weight: 600;
}
.icons{
    color: black;
    margin: 50px 0 10px 0  ;
    color: #f44336;
}
.icons i{
     padding: 0 5px 0 5px;
     font-size: 19px;
}

.sub-header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/banner2.jpg);
    width: 100%;
    height: 80vh;
    margin: auto;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.sub-header h1{
    font-size: 40px;
    font-weight: 700;
    margin-top: 200px;
}

.sub-header img{
    background-size: contain;
    width: 100%;
    height: 100%;
    background-position: center;
    border-radius: 10px;
}

.about{
    color: black;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.about-col{
    margin-top: 10%;
}
.about-col img{
    object-fit: cover;
    height: 500px ;
    width: 500px;
}
.about-col h1{
    font-size: 35px;
    font-size: 700;
    text-align: center;
    padding: 30px ;
}

.about-col a{
    margin-top: 20px  ;
    margin: auto;
    color: black;
}
.about-col p{
    margin-bottom: 100px;
}

@media(max-width:700px){
    .about{
        display: inline-block;
    }
    .sub-header{
        width: 100%;
    }
    .about{
        width: 100%;
    }
    .about-col{
        margin: auto;
        width: 80%;
        text-align: center;
    }
}






























